@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --text-gray: rgba(238,224,255,.7);
    --text-light-gray: #817691;
    --text-gradient: linear-gradient(136.85deg, #ff37f2 -15.82%, #405aff 99.57%);
    --text-white:#eee0ff;
    --primary-font: 1rem;
    --primary-font-family: "Lexend", sans-serif;
    --secondary-font-family:  "Space Grotesk", sans-serif;
}


/* shared css styles  */
.common-text{
    color: var(--text-gray);
    font-size: .8rem;
    font-family: var(--primary-font-family);
    margin-bottom: .5rem;
}
/* shared css styles end  */


header{
    width: 100%;
    height: 100%;
    background-color: #010313;
}
.my-profile{
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding-top: 100px;
}
aside{
    grid-column: 1/2;
    background-color: rgb(23, 15, 33);
    padding: 1rem;
    border-radius: 10px;
    height: 100%;
}
main{
    grid-column: 2/-1;
    background-color: rgb(23, 15, 33);
    padding: 1rem;
    border-radius: 10px;
    height: fit-content;
}

.company-info{
    display: flex;
    justify-content: flex-end;
}

/* profile info styles start  */
.profile-info{
    text-align: center;
    border-bottom: 1px dashed rgba(234, 170, 255, .2);
}
.profile-info .profile-img{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 4px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(rgba(23, 15, 33, 1), rgba(23, 15, 33, 1)), 
    linear-gradient(to right, #00fdb2,#006aff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-top: 20px;
}

.profile-info .profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 60%;
    padding: 5px;

}
.profile-info .profile-name{
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--primary-font-family);
    margin-top: 1.8rem;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.profile-info .student-id{
    margin-top: 1rem;
}

.profile-info .course-complete-btn{
    padding: .8rem 1rem;
    font-family: var(--primary-font-family);
    font-size: 1rem;
    border-radius: 10px;
    background-color: #5c3b32;
    border: none;
    color: #e17824;
    margin-bottom: 1.5rem;
}
/* profile info styles ends  */

/* menu items style start  */
.menu-items{
    margin-top: 1.5rem;
}
.menu-list{
    width: 100%;
}
.menu-list:hover{
    background-image: var(--text-gradient);
    border-radius: 11px;
    z-index: -1;
}
.menu-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: .8rem;
    margin-bottom: .4rem;
    border-radius: 10px;
    position: relative;
    transition: .4s ease all;
    margin-left: 2px;
    background-color: rgb(23, 15, 33);
}
.menu-links a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-light-gray);
    font-family: var(--primary-font-family);
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    gap: .8rem;
    align-items: center;
    transition: .4s ease all;
}
.menu-links .check-items{
    color: #32b06f;
    font-size: 1.25rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.menu-links svg{
    font-size: 1.25rem;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 40px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-gray);
    transition: .4s ease all;
}

.menu-links:hover{
    background: linear-gradient(90deg, rgba(34, 28, 41, 0.857) 2%, rgba(23,15,33,1) 96%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 100;
}
.menu-links:hover a{
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu-links:hover svg{
    background: var(--text-gradient);
    color: white;
}

/* menu items style ends  */
