*{
    /* color: red; */
}
:root{
    --text-gray: rgba(238,224,255,.7);
    --text-light-gray: #817691;
    --text-gradient: linear-gradient(136.85deg, #ff37f2 -15.82%, #405aff 99.57%);
    --text-white:#eee0ff;
    --primary-font: 1rem;
    --primary-font-family: "Lexend", sans-serif;
    --secondary-font-family:  "Space Grotesk", sans-serif;
}
/* shared styles  */
.primary-text{
    font-size: 1.1rem;
    text-transform: capitalize;
    font-family: var(--primary-font-family);
    color: var(--text-light-gray);
    font-weight: 500;
}
.secondary-text{
    font-size: 1rem;
    font-family: var(--primary-font-family);
    color: rgba(238, 224, 255, .85);
    font-weight: 400;
    margin-top: 1rem;
}
.button-container{
    text-align: right;
    margin-top: 2rem;
}
.button-container .btn-cancel{
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #eaaaff;
    color: #eaaaff;
    font-family: var(--primary-font-family);
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    box-shadow: #eaaaff 0px 0.5px 0.5px 0px, #eaaaff 0px 0px 0px 1px;
    transition: .4s ease all;
}

.button-container .btn-save{
    padding: .6rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: var(--primary-font-family);
    font-size: 1rem;
    margin-right: 1rem;
    background: var(--text-gradient);
    color: var(--text-white);
    cursor: pointer;
    transition: .4s ease all;
}

.button-container .btn-cancel:hover{
   box-shadow: none;
    border: 0.5px solid #eaaaff;
}
.button-container .btn-save:hover{
    background: linear-gradient(90deg, rgba(184,44,180,1) 2%, rgba(74,64,188,1) 96%);
}

/* shared style ends  */


.profile-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed rgba(234, 170, 255, .2);
    

}
.profile-data-title{
    font-size: 1.25rem;
    font-family: var(--secondary-font-family);
    margin-bottom: 2rem;
    font-weight: 500;
    background-image: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.profile-edit > i{
    font-size: 1.5rem;
    vertical-align: middle;
    margin-bottom: 2rem;
    background-image: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.user-info-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    margin: 2rem 0;
    column-gap: 2rem;
}


/* device activity styles  */

.device-activity-title{
    border-bottom: 2px dashed rgba(234, 170, 255, .2);
}

.device-activity-data table{
    width: 100%;
    text-align: left;
    color: white;
    margin-top: 1.7rem;
    border-collapse: collapse;
    margin-bottom: 3.5rem;
}
.device-activity-data .table-head{
    background-color: #231b2c;
    border-radius: 5px;
}
.device-activity-data .table-row{
    height: 45px;
    border-radius: 5px;
}
.device-activity-data .table-row th{
    font-size: 1rem;
    font-family: var(--primary-font-family);
    color: var(--text-white);
    font-weight: 400;
    padding: 0rem 1rem;
}
.device-activity-data .table-row .table-data, .table-data time{
    font-size: .8rem;
    font-family: var(--primary-font-family);
    color: var(--text-gray);
    font-weight: 400;
    padding: 0rem 1rem;
}
.device-activity-data .table-row .remove{
    font-weight: 400;
    background-image: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--primary-font-family);
    font-weight: 300;
    font-size: .9rem;
    padding: 0rem 1rem;
}

/* device activity styles ends  */

/* additional html styles start  */
.additional-info-container .fa-solid{
    font-size: 1.25rem;
    vertical-align: middle;
    color: var(--text-white);
    margin-right: .7rem;
}
.additional-info-container .gender{
    margin-bottom: 3rem;
}
.additional-info-container .gender label{
    font-size: .9rem;
    margin-right: 2rem;
    font-family: var(--primary-font-family);
    color: var(--text-white);
    font-weight: 400;
    cursor: pointer;
}
.additional-info .secondary-text, .gender .secondary-text{
    text-transform: capitalize;
    margin-bottom: .9rem;
}

.additional-info{
    margin-bottom: 1.5rem;
}

.additional-info select, .add-country-dst .country-container,
.education-info .education-select-container
{
    width: 100%;
    height: 45px;
    background-color: #231b2c;
    color: var(--text-white);
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: var(--primary-font-family);
    padding-left: 1rem;
    cursor: pointer;
}
.additional-info select option,
.add-country-dst .country-container .cntry-dst-option,
.education-info .education-select-container .education-info-option
{
    color: var(--text-white);
    font-family: var(--primary-font-family);
    font-size: .9rem;
    font-weight: 300;
    cursor: pointer;
    background-color: #20172d;
}

.additional-info .emp,
.addr-street .addr-st
{
    width: 100%;
    height: 45px;
    background-color: #231b2c;
    color: var(--text-white);
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: var(--primary-font-family);
    padding-left: 1rem;
}

/* Additional part styles ends  */


/* Address part styles start  */
.address-container{
    color: red;
}
.present-address .title, .permanent-address .title 
{
    font-size: 1.25rem;
    font-family: var(--secondary-font-family);
    margin-bottom: 2rem;
    font-weight: 400;
    margin-top: 30px;
    color: #ea8b42;
    text-transform: capitalize;
}
.address-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    margin: 2rem 0;
    column-gap: 2rem;
}
.address-info .fa-solid, .addr-street .fa-solid,
.education-info-container .fa-solid
{
    font-size: 1.5rem;
    font-weight: 300;
    vertical-align: middle;
    color: var(--text-white);
    margin-right: .6rem;
}
.add-country-dst .address-info-title,
.addr-street .address-info-title,
.education-info .education-info-title,
.cse-student .education-info-title
{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--primary-font-family);
    color: var(--text-white);
    margin-bottom: .8rem;
    text-transform: capitalize;
}
.same-present-add label,
.crnt-student label
{
    font-size: 1rem;
    font-family: var(--primary-font-family);
    font-weight: 400;
    color: var(--text-white);
}
.same-present-add input[type=checkbox]{
    width: 30px;
}

/* Address part styles ends  */


/* Edducation section styles start */
.education-info-container{
    color: red;
    margin-top: 2rem;
}
.education-info .education-select-container{
    margin-bottom: 1.5rem;
}
.crnt-student{
    margin-bottom: 2rem;
}
/* .passing-year input[type=month]{
    width: 50%;
    font-size: 1rem;
    margin-bottom: 1.5rem;
} */
.cse-student label{
    font-size: 1rem;
    font-family: var(--primary-font-family);
    font-weight: 400;
    color: var(--text-white);
    margin-right: .8rem;
}
/* Edducation section styles ends */

.passing-year .month{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-color: #20172d;
    height: 40px;
    transition: .4s ease all;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.passing-year .month input{
    background-color: #20172d;
    color: white;
    height: 100%;
    display: none;
    border: none;
    outline: none;
    transition: .4s ease all;
    width: 100%;
}
.passing-year .month i{
    vertical-align: middle;
    display: none;
    transition: .4s ease all;
}
.passing-year .month:focus, 
.passing-year .month:valid, 
.passing-year .month:hover
input{
    display: block;
}

.passing-year .month:hover i{
    display: block;
}